* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 25%;
  margin-left: 2em;
}

hr,
h1 {
  margin: 0.5em 25% 0.5em 0;
}

ul {
  list-style: none;
  margin-left: 2em;
}

h1 {
  margin-left: 1em;
}
